# Environment Variables
.env.global

# Stremio
stremio/

# Arcane
arcane/data/

# NPM
npm/data/
npm/letsencrypt/
npm/mysql/

# AdGuard
adguard/work/
adguard/data/
**/logs/
*.log
adguard/conf/AdGuardHome.yaml
